@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF Pro/SFProText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF Pro/SFProText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF Pro/SFProText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF Pro/SFProText-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF Pro/SFProText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SF Pro/SFProText-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-red-100: #ef3340;
  --color-red-200: #e81120;
  --color-gray-100: #e4e3e6;
  --color-gray-200: #d7d8d9;
  --color-gray-300: #99a2ad;
  --color-gray-400: #818c99;
  --color-gray-500: #6d7885;
  --color-gray-600: #000000b2;
  --color-gray-700: #00000099;
  --color-gray-800: #0000000a;
  --color-gray-900: #f4f4f7;
  --color-gray-1000: #f5f5f5;

  --font-sf-pro: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
}
